button.btn.btn-default {
	background: #eceff1;
	border-radius: 4px;
	color: #333;
	padding: 6px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: 6px 0;
}

button.btn.btn-default:focus {
	box-shadow: none;
}

button.btn.btn-default:hover {
	background: #babdbe;
}

button.btn.btn-default.active {
	background: #e57373;
	color: #fff;
}

button.btn.btn-default.active:hover {
	background: #db5151;
}